In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('Energy_data.csv', index_col=0)
df.head()

,Country,Year,Total_Energy_Consumption_EJ,Energy Consumption EJ,Fuel type,Region,Income group
0,Canada,1965,5.00053,0.647949,Coal,North America,High income
1,Canada,1965,5.00053,0.000000,Geo Biomass & other,North America,High income
2,Canada,1965,5.00053,1.257066,Hydropower,North America,High income
3,Canada,1965,5.00053,0.001308,Nuclear Energy,North America,High income
4,Canada,1965,5.00053,2.314145,Oil,North America,High income

In [31]:
df.isnull().sum()

Country                        0
Year                           0
Total_Energy_Consumption_EJ    0
Energy Consumption EJ          0
Fuel type                      0
Region                         0
Income group                   0
GDP (nominal, 2023)            0
GDP (abbrev.)                  0
GDP growth                     0
Population -2023               0
GDP per capita                 0
Share of World GDP             0
dtype: int64

In [33]:
df.duplicated().sum()

0

In [13]:
df_2 = pd.read_excel('Info.xlsx')
df_2.head()

,#,Country,"GDP (nominal, 2023)",GDP (abbrev.),GDP growth,Population -2023,GDP per capita,Share of World GDP
0,1,United States,27720700000000,$27.721 trillion,0.0289,343477335,80706,0.2611
1,2,China,17794800000000,$17.795 trillion,0.0525,1422584933,12509,0.1676
2,3,Germany,4525700000000,$4.526 trillion,-0.0027,84548231,53528,0.0426
3,4,Japan,4204490000000,$4.204 trillion,0.0168,124370947,33806,0.0396
4,5,India,3567550000000,$3.568 trillion,0.0815,1438069596,2481,0.0336

In [15]:
df_2.isnull().sum()

#                      0
Country                0
GDP (nominal, 2023)    0
GDP (abbrev.)          0
GDP growth             0
Population -2023       0
GDP per capita         0
Share of World GDP     0
dtype: int64

In [17]:
df_2.duplicated().sum()

0

In [23]:
set(df['Country']) - set(df_2['Country'])

set()

In [21]:
df_2['Country'] = df_2['Country'].str.replace('United States', 'US')

In [25]:
df_2.columns

Index(['#', 'Country', 'GDP (nominal, 2023)', 'GDP (abbrev.)', 'GDP growth',
       'Population -2023', 'GDP per capita', 'Share of World GDP'],
      dtype='object')

In [27]:
df = df.merge(df_2[['Country', 'GDP (nominal, 2023)', 'GDP (abbrev.)', 'GDP growth',
       'Population -2023', 'GDP per capita', 'Share of World GDP']], on='Country', how='left')

In [29]:
df.head()

,Country,Year,Total_Energy_Consumption_EJ,Energy Consumption EJ,Fuel type,Region,Income group,"GDP (nominal, 2023)",GDP (abbrev.),GDP growth,Population -2023,GDP per capita,Share of World GDP
0,Canada,1965,5.00053,0.647949,Coal,North America,High income,2142470000000,$2.142 trillion,0.0125,39299105,54517,0.0202
1,Canada,1965,5.00053,0.000000,Geo Biomass & other,North America,High income,2142470000000,$2.142 trillion,0.0125,39299105,54517,0.0202
2,Canada,1965,5.00053,1.257066,Hydropower,North America,High income,2142470000000,$2.142 trillion,0.0125,39299105,54517,0.0202
3,Canada,1965,5.00053,0.001308,Nuclear Energy,North America,High income,2142470000000,$2.142 trillion,0.0125,39299105,54517,0.0202
4,Canada,1965,5.00053,2.314145,Oil,North America,High income,2142470000000,$2.142 trillion,0.0125,39299105,54517,0.0202

In [35]:
df.to_csv('Energy_gdp.csv')